src/data/tenant-report-blog-automation.workflow.json
{
  "name": "Tenant Report Blog Automation",
  "nodes": [
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"selected_keywords\": [\n    \"keyword 1 selected from provided list\",\n    \"keyword 2 selected from provided list\", \n    \"keyword 3 selected from provided list\",\n    \"keyword 4 selected from provided list (optional)\"\n  ],\n  \"main_keyword_for_url\": \"single-primary-keyword-phrase\",\n  \"title\": \"H1 Title Here (70-80 characters with primary keyword)\",\n  \"meta_title\": \"Meta Title Here (50-70 characters)\",\n  \"meta_description\": \"Meta description here explaining the blog post value in 130-150 characters for search results.\",\n  \"url\": \"seo-friendly-url-slug-here\",\n  \"summary\": \"50-70 word summary explaining what this blog post covers. Written in clear, informative language without promotional tone. Should give readers immediate understanding of the main topics, key takeaways, and who will benefit from reading this content. Mention which informational keyword should appear in the first sentence and how to preview the article's value.\",\n  \"introduction\": \"Description of what the introduction should cover for this specific blog category. Explain who the content is for, what topics will be covered, where it's relevant (across Canada), when it matters, and why readers should care. Mention which informational keyword should appear in the first sentence and how to preview the article's value.\",\n  \"body_sections\": [\n    {\n      \"h2\": \"First Main Heading Relevant to Blog Category\",\n      \"description\": \"Description of what this section should cover specifically for this blog topic. Include the main points, challenges, solutions, or key information that should be addressed. Explain the focus and angle for this section based on the category context.\",\n      \"keywords\": [\"keyword from selected list\", \"another keyword if relevant\"],\n      \"subsections\": [\n        {\n          \"h3\": \"Optional Subsection Title (if needed for clarity)\",\n          \"description\": \"Description of what this H3 subsection should specifically address within the parent H2 section context. Explain the specific angle or details to cover.\"\n        },\n        {\n          \"h3\": \"Second Optional Subsection Title (if needed)\",\n          \"description\": \"Description of what this second H3 subsection should cover to support the H2 section topic.\"\n        }\n      ]\n    },\n    {\n      \"h2\": \"Second Main Heading Relevant to Blog Category\",\n      \"description\": \"Description of what this section should cover for this specific topic. Detail the approach, information, or solutions to present based on the blog category.\",\n      \"keywords\": [\"keyword from selected list\"],\n      \"subsections\": [\n        {\n          \"h3\": \"Optional Subsection Title\",\n          \"description\": \"Specific content guidance for this subsection within the category context.\"\n        }\n      ]\n    },\n    {\n      \"h2\": \"Third Main Heading Relevant to Blog Category\",\n      \"description\": \"Description of what this section should cover, fully adapted to the blog category. Explain the practical advice, considerations, or insights to include.\",\n      \"keywords\": [\"keyword from selected list\"],\n      \"subsections\": []\n    },\n    {\n      \"h2\": \"Fourth Main Heading (Optional - Only if Needed)\",\n      \"description\": \"Description of what this optional fourth section should cover if the topic requires it for comprehensive coverage.\",\n      \"keywords\": [\"keyword from selected list\"],\n      \"subsections\": []\n    }\n  ],\n  \"conclusion\": \"Description of what the conclusion should cover for this specific blog category. Explain how to summarize the key takeaways relevant to this topic, what actionable next steps to suggest that are appropriate for this service/category, and how to include Tenant Report trust messaging naturally.\",\n  \"cta\": \"Single clear call-to-action statement relevant to this blog topic category. Should mention Tenant Report and encourage booking, exploring services, or provider sign-up. Keep to 1-2 sentences maximum.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -5440,
        448
      ],
      "id": "121b5b94-fba6-4aea-aedc-6f9f0944102f",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Insert the H1 Title for the article here\",\n  \"meta_title\": \"Insert the SEO Meta Title here (50-70 characters)\",\n  \"meta_description\": \"Insert the SEO Meta Description here (130-150 characters)\",\n  \"url\": \"insert-the-url-slug-here\",\n  \"article\": \"# Insert the H1 Title Again Here\\n\\n\\n## Summary\\n\\nInsert a 50-70 word summary written as 1-2 flowing paragraphs explaining what this blog post covers, main topics, and who benefits from reading.\\n\\n\\nInsert introduction paragraph 1 with 4-5 sentences flowing naturally. Include main keyword in first sentence. Present the problem or opportunity (Preview).\\n\\nInsert introduction paragraph 2 with 4-5 sentences. Establish credibility through Tenant Report features (Proof) and motivate readers to continue (Push). Total: 100-150 words.\\n\\n\\n## Insert H2 Heading for Section 1\\n\\nInsert opening paragraph with 4-6 sentences introducing this section's topic. Include relevant keywords naturally and address landlord concerns.\\n\\nInsert second paragraph with 4-6 sentences providing detail, examples, or explanations. Include real scenarios like first-time landlords or small portfolio owners.\\n\\nInsert third paragraph with 4-6 sentences reaching the 250-350 word minimum for this H2 section.\\n\\n\\n### Insert H3 Subheading if needed\\n\\nInsert 4-6 sentences explaining this specific aspect in detail. Cover relevant sub-topics in paragraph form.\\n\\n\\n## Insert H2 Heading for Section 2\\n\\nInsert opening paragraph with 4-6 sentences for this section. Follow same paragraph-first approach with natural flow.\\n\\nInsert second paragraph with 4-6 sentences with more detail and examples.\\n\\nInsert third paragraph with 4-6 sentences reaching 250-350 word minimum.\\n\\n\\n### Insert H3 Subheading if needed\\n\\nInsert 4-6 sentences covering this sub-topic in detail.\\n\\n\\n## Insert H2 Heading for Section 3\\n\\nInsert opening paragraph with 4-6 sentences for this section.\\n\\nInsert second paragraph with 4-6 sentences with scenarios and practical guidance.\\n\\nInsert third paragraph with 4-6 sentences completing this section (250-350 words).\\n\\n\\n## Conclusion\\n\\nInsert 100-120 words (5-7 sentences) as 1-2 flowing paragraphs. Summarize key points, reiterate core message, and include the CTA naturally.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4624,
        640
      ],
      "id": "c238e552-af8f-4a82-9036-0dc451f268e3",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please generate a complete landlord tenant screening article and metadata based on the following outline. Adhere strictly to all instructions in your system prompt, ensuring content aligns with Tenant Report's expertise, landlord safety standards, and Canadian rental market positioning.\n\n## ARTICLE METADATA\n\n**Title (H1):** {{ $json.title }}\n\n**Meta Title:** {{ $json.meta_title }}\n\n**Meta Description:** {{ $json.meta_description }}\n\n**URL Slug:** {{ $json.url }}\n\n**Target Word Count:** 1000-1200 words\n\n**Selected Keywords:** {{ $json.selected_keywords }}\n\n**Main Keyword for URL:** {{ $json.main_keyword_for_url }}\n\nTodays date : {{ $now.format('yyyy-MM-dd') }}\n\n---\n\n## CONTENT STRUCTURE\n\n### Summary Section Instructions\n{{ $json.summary }}\n\n*Note: Write this as a 60-80 word overview section that appears immediately after the H1 title. Use 1-2 flowing paragraphs with a professional, practical landlord tone.*\n\n---\n\n### Introduction Instructions\n{{ $json.introduction_description }}\n\n*Note: Write this as 2-3 flowing paragraphs (150-200 words total). Ensure the main keyword appears in the first sentence. Follow the Problem, Context, Solution model for landlord content.*\n\n---\n\n### Body Section Instructions\n\n{{ $json.body_sections_text }}\n\n*Important: Each H2 section MUST be 250-350 words minimum. Write in flowing paragraphs (4-6 sentences each) using practical landlord language. Only use numbered/bulleted lists for checklists, screening steps, or comparison criteria. Incorporate the assigned keywords naturally within each section.*\n\n---\n\n### Conclusion Instructions\n{{ $json.conclusion_description }}\n\n*Note: Write as 2 flowing paragraphs (150-180 words total). Summarize key landlord takeaways, reiterate the core message about smarter screening, and include the CTA naturally without being pushy.*\n\n---\n\n### Call-to-Action (CTA)\n{{ $json.cta }}\n\n*Note: Incorporate this CTA naturally into the conclusion paragraph with appropriate landlord tone.*\n\n---\n\n## BUSINESS CONTEXT (for natural integration)\n\nTenant Report is a Canadian tenant screening platform helping landlords reduce rental risk and protect reliable income (https://www.tenantreport.ai). The platform offers affordable tenant reports with background and credit checks, AI-powered reliability scoring, real-time application tracking, and optional rent protection packages.\n\nCore promise: Screen smarter, choose confidently, and protect rental income.\n\nKey differentiators: Affordable pricing (C$39 reports, C$19/mo Smart Tenant Subscription, C$69 Rent Promise package), AI-powered insights, verified reports, landlord dashboard, fast applicant review, and practical tools built for Canadian landlords.\n\n---\n\n## CRITICAL REQUIREMENTS REMINDER\n\n✅ **Include Summary section** immediately after H1 title (60-80 words)\n✅ **Each H2 section must be 250-350 words minimum**\n✅ **Total article: 1000-1200 words**\n✅ **Use flowing paragraphs** (4-6 sentences each) as default format\n✅ **Use numbered/bulleted lists** only for screening steps, checklists, or comparison criteria\n✅ **Active voice only** — no passive voice\n✅ **Grade 10-11 readability**\n✅ **Two blank lines** before and after all headings (H1, H2, H3)\n✅ **One blank line** between paragraphs\n✅ **Natural keyword integration** using the selected landlord/screening keywords provided\n✅ **Reiterate core message** about reducing rental risk throughout\n✅ **Canadian landlord context** — reference provincial rental realities, eviction costs, vacancy risk, and screening best practices when relevant\n\n---\n\n## OUTPUT FORMAT\n\nDeliver the complete article in Markdown format, ready for WordPress publication. The structure should be:\n\n1. H1 Title\n2. **Summary Section** (## Summary)\n3. Introduction (no heading, just paragraphs)\n4. Body Sections (## H2 headings with ### H3 subheadings as needed)\n5. Conclusion (## Conclusion)\n6. CTA integrated into conclusion\n\nDo not include any explanatory text, notes, or meta-commentary. Provide only the complete, formatted article content with appropriate professional tone.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert landlord education content creator and SEO strategist specializing in tenant screening content for Tenant Report, a Canadian tenant screening and landlord protection platform. Your primary mission is to take a user-provided article outline and write a complete, accurate, high-quality blog post designed to rank in search results while building landlord trust and helping readers make smarter rental decisions.\n\n## PRIMARY DIRECTIVE: Professional Landlord Blog Formatting\n\nYour content must read like a professional landlord advice blog post ready for WordPress publication. This means:\n- Paragraphs are written as continuous flowing text with practical landlord tone\n- Only use numbered lists for screening steps, checklists, or comparison criteria\n- Each paragraph should contain 4-6 sentences that flow naturally together\n- Use one blank line between paragraphs\n\n## General Writing Directives\n\n### Writing Style & Readability\n- **Accuracy:** Write with practical precision while remaining accessible to landlords\n- **Readability Level:** Grade 10-11\n- **Voice:** Active voice exclusively\n- **Tone:** Professional, trustworthy, reassuring, practical — never fear-mongering\n- **Paragraph Structure:** 4-6 sentences per paragraph; lists only when logically required\n\n### Core Message\nReiterate throughout that smarter tenant screening reduces rental risk, protects income, and helps landlords choose reliable tenants with confidence.\n\n### Overall Length\nTarget **1000-1200 words**. Each H2 section **250-350 words minimum**.\n\n### Business Context Integration\n- Reference landlord scenarios naturally (first-time landlords, small portfolio owners, property managers, post-eviction recovery)\n- Mention Tenant Report strengths only when relevant: affordable reports (C$39), Smart Tenant Subscription (C$19/mo), Rent Promise protection (C$69), AI scoring, dashboard, verified reports\n- Reference Canadian landlord challenges: eviction costs, vacancy risk, missed rent, manual screening burden, provincial rental rules\n\n## Article Construction\n\n### A. H1 Title — 60-70 characters with primary keyword\n\n### B. Summary Section — REQUIRED (60-80 words, ## Summary)\n\n### C. Introduction — 150-200 words, Problem → Context → Solution\n\n### D. Body Content — paragraph-first, 250-350 words per H2, keywords integrated naturally\n\nAdapt by article type:\n- Screening guides: process, verification, decision criteria, red flags\n- Risk prevention: bad tenant signs, missed rent, eviction cost, income protection\n- Legal/compliance: provincial rules, fair screening, documentation\n- Cost/value topics: screening cost vs eviction cost, platform comparison\n- Feature topics: dashboard, AI scoring, application tracking, rent protection\n\n### E. Conclusion — 150-180 words with natural CTA\n\n## Formatting Requirements\n- TWO blank lines before and after all headings\n- ONE blank line between paragraphs\n- Markdown format ready for WordPress\n- Include Summary section immediately after H1\n\n## Final Output\nComplete article in Markdown only. No commentary. Professional landlord blog tone throughout."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4864,
        224
      ],
      "id": "b8506133-c30c-4490-99a3-07882e01258a",
      "name": "Article Writing Chain",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Code Node Configuration: \"Run Once for All Items\", Language: \"JavaScript\"\n// Get the article outline from the input\nconst input = $input.first().json;\n\n// ============================================\n// HELPER FUNCTIONS\n// ============================================\n\n/**\n * Extract outline from various input formats\n */\nfunction getOutline(input) {\n  if (Array.isArray(input)) {\n    return input[0]?.output || input[0] || {};\n  }\n  return input?.output || input || {};\n}\n\n/**\n * Case-insensitive property getter\n */\nfunction getProperty(obj, propertyName) {\n  if (!obj || typeof obj !== 'object') return undefined;\n  \n  // Direct match\n  if (obj.hasOwnProperty(propertyName)) return obj[propertyName];\n  \n  // Case-insensitive match\n  const lowerPropName = propertyName.toLowerCase();\n  for (const key in obj) {\n    if (key.toLowerCase() === lowerPropName) return obj[key];\n  }\n  \n  return undefined;\n}\n\n/**\n * Safely get array property with fallback\n */\nfunction getArrayProperty(obj, propertyName, defaultValue = []) {\n  const value = getProperty(obj, propertyName);\n  return Array.isArray(value) ? value : defaultValue;\n}\n\n// ============================================\n// MAIN LOGIC\n// ============================================\n\nconst outline = getOutline(input);\n\n// Extract top-level fields\nconst selectedKeywords = getArrayProperty(outline, 'selected_keywords');\nconst mainKeyword = getProperty(outline, 'main_keyword_for_url') || '';\nconst title = getProperty(outline, 'title') || 'Untitled';\nconst metaTitle = getProperty(outline, 'meta_title') || title;\nconst metaDescription = getProperty(outline, 'meta_description') || '';\nconst url = getProperty(outline, 'url') || '';\nconst summary = getProperty(outline, 'summary') || '';\nconst introduction = getProperty(outline, 'introduction') || '';\nconst conclusion = getProperty(outline, 'conclusion') || '';\nconst cta = getProperty(outline, 'cta') || '';\n\n// ============================================\n// PROCESS BODY SECTIONS\n// ============================================\n\nconst bodySectionsArray = getArrayProperty(outline, 'body_sections').map((section, index) => {\n  const h2 = getProperty(section, 'h2') || `Section ${index + 1}`;\n  const description = getProperty(section, 'description') || '';\n  const keywords = getArrayProperty(section, 'keywords');\n  \n  // Process subsections (H3s)\n  const subsections = getArrayProperty(section, 'subsections').map(sub => ({\n    h3: getProperty(sub, 'h3') || '',\n    description: getProperty(sub, 'description') || ''\n  }));\n  \n  return {\n    h2: h2,\n    description: description,\n    keywords: keywords,\n    subsections: subsections\n  };\n});\n\n// ============================================\n// CREATE LLM-READABLE TEXT VERSION\n// ============================================\n\nlet bodySectionsText = '';\n\nbodySectionsArray.forEach((section, index) => {\n  // Section header\n  bodySectionsText += `═══════════════════════════════════════════════\\n`;\n  bodySectionsText += `SECTION ${index + 1}: ${section.h2}\\n`;\n  bodySectionsText += `═══════════════════════════════════════════════\\n\\n`;\n  \n  // Section description\n  bodySectionsText += `📝 INSTRUCTIONS:\\n${section.description}\\n\\n`;\n  \n  // Keywords for this section\n  if (section.keywords.length > 0) {\n    bodySectionsText += `🔑 KEYWORDS TO INCLUDE:\\n${section.keywords.join(', ')}\\n\\n`;\n  }\n  \n  // Subsections (H3s)\n  if (section.subsections.length > 0) {\n    bodySectionsText += `📋 SUBSECTIONS:\\n`;\n    section.subsections.forEach((sub, subIndex) => {\n      bodySectionsText += `\\n  ${subIndex + 1}. ${sub.h3}\\n`;\n      bodySectionsText += `     Description: ${sub.description}\\n`;\n    });\n    bodySectionsText += `\\n`;\n  }\n  \n  // Separator between sections\n  bodySectionsText += `\\n`;\n});\n\n// ============================================\n// ASSEMBLE FINAL OUTPUT\n// ============================================\n\nconst finalOutput = {\n  // Keyword strategy\n  \"selected_keywords\": selectedKeywords,\n  \"main_keyword_for_url\": mainKeyword,\n  \n  // SEO metadata\n  \"title\": title,\n  \"meta_title\": metaTitle,\n  \"meta_description\": metaDescription,\n  \"url\": url,\n  \n  // Content structure\n  \"summary\": summary,\n  \"introduction_description\": introduction,\n  \n  // Body sections (structured)\n  \"body_sections\": bodySectionsArray,\n  \n  // Body sections (LLM-readable text format)\n  \"body_sections_text\": bodySectionsText.trim(),\n  \n  // Closing sections\n  \"conclusion_description\": conclusion,\n  \"cta\": cta,\n  \n  // Metadata for tracking\n  \"total_sections\": bodySectionsArray.length,\n  \"total_keywords\": selectedKeywords.length,\n  \"word_count_target\": \"1000-1200 words\"\n};\n\n// ============================================\n// RETURN OUTPUT\n// ============================================\n\nreturn [{\n  json: finalOutput\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5088,
        224
      ],
      "id": "bbc8d93b-96cb-4e4b-9fd9-1e265e5067c8",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate title and outline for this landlord tenant screening blog content:\n\n**Input:**\nBlog topic/Category: {{ $('Code in JavaScript4').item.json.category }}\n\nSEO Keywords (which must be included in the blog):\n{{ $json.data }}{{ $('Code in JavaScript4').item.json.seeds }}\n\n**Strictly use 3-4 keywords in the blog which are suitable and one main keyword in the slug for URL**\n\nTodays date : {{ $now.format('yyyy-MM-dd') }}\n\n**Target:** 1000-1200 words\n\n**BUSINESS CONTEXT:**\n\nTenant Report is an affordable AI-powered tenant screening platform for Canadian landlords and property managers (https://www.tenantreport.ai). The platform helps landlords reduce rental risk and protect reliable income through comprehensive tenant reports, background checks, credit reports, AI-powered reliability scoring, and optional rent protection.\n\nCore services:\n- Tenant Reports (C$39) — background checks and applicant reports\n- Smart Tenant Subscription (C$19/mo) — AI-powered screening and reliability insights\n- Rent Promise & Protection Package (C$69) — income protection when tenants miss payments\n\nWorkflow: Register → Enter Tenant Info → Get Tenant Reports → Select the Best Tenant\n\nTarget audience: Canadian landlords and property managers aged 28-65 who want to avoid bad tenants, missed rent, property damage, and costly evictions.\n\nMission: Reduce risk, ensure reliable income, and simplify the landlord tenant experience.\n\nCore values: Trustworthy, professional, practical, landlord-focused, confidence-building",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an SEO content outline generator for Tenant Report, creating strategic blog outlines for a Canadian tenant screening and landlord protection platform. Generate article structures that provide genuine landlord education while naturally supporting sign-up intent through high-quality, practical content.\n\n## BUSINESS CONTEXT\n\nTenant Report is an affordable AI-powered tenant screening platform for Canadian landlords and property managers (https://www.tenantreport.ai). The platform helps landlords reduce rental risk, avoid bad tenants, and protect reliable rental income.\n\n**Services Portfolio:**\n- Tenant Reports (C$39): background checks and comprehensive applicant reports\n- Smart Tenant Subscription (C$19/mo): AI-powered reliability scoring and ongoing screening insights\n- Rent Promise & Protection Package (C$69): income protection when tenants miss payments\n- Landlord dashboard: application tracking, screening results, and financial overview\n\n**Target Audience:** Canadian landlords and property managers aged 28-65 with 1-10 rental units who want to avoid missed rent, property damage, eviction costs, and unreliable tenants.\n\n**Geographic Focus:** Ontario, British Columbia, Alberta, Quebec, and broader Canada\n\n**Mission:** Reduce risk, ensure reliable income, and simplify the landlord tenant experience.\n\n## CRITICAL CONTENT PHILOSOPHY\n\n**NARROW FOCUS PRINCIPLE:** Each blog post must focus deeply on ONE specific landlord concern, screening topic, or rental risk category. Do NOT try to cover every Tenant Report service unless directly relevant.\n\n**NATURAL LANDLORD TONE PRINCIPLE:** Write for real landlords seeking practical guidance, not for search engines or hard sales. Content should read like advice from an experienced property owner or screening specialist.\n\n**MENTION TENANT REPORT ONLY WHEN RELEVANT:**\n- ✅ When discussing screening access, cost, workflow, reports, or platform features\n- ✅ When comparing manual screening vs using a screening platform\n- ✅ In the conclusion as a natural next step\n- ❌ NOT in every section or paragraph\n- ❌ NOT when the focus should be on landlord education, laws, or best practices\n\n## TASK\n\nGenerate H1 title + H2/H3 subheading structure based on the specific landlord/screening blog topic provided. Stay laser-focused on that ONE topic.\n\n## TITLE REQUIREMENTS\n\n- **H1 Title:** 60-70 characters maximum (include primary keyword + Canada/landlord reference when relevant)\n- **Meta Title:** 50-60 characters\n- **URL Slug:** Use ONE main keyword only (3-6 words, SEO-friendly)\n- **Keyword Usage:** Select and use 3-4 most suitable keywords from the provided list\n- Title should reflect the specific landlord topic (e.g., \"Tenant Screening Checklist for Ontario Landlords\" NOT \"Landlord Services Overview\")\n\n## ARTICLE STRUCTURE\n\n### Summary Section\n- **Length:** 60-80 words\n- Clear overview of the specific landlord/screening topic\n- Address the main landlord concern this article answers\n- Help Canadian landlords quickly understand if this solves their problem\n- NO promotional language unless the topic is specifically about choosing a screening platform\n\n### Introduction Section\n- Description only (not actual content)\n- Address who, what, where, when, why for THIS specific landlord topic\n- Include one keyword naturally in the first paragraph guidance\n- Address Canadian rental context when relevant (eviction cost, vacancy risk, provincial rules, missed rent)\n\n### Body Sections\n- Create EXACTLY 3-5 H2 sections only\n- Each H2 must be 100% relevant to the specific category provided\n- Each H2 may include 2-3 H3 subsections when helpful\n- **Total word count target:** 1000-1200 words across all body sections\n\nAdapt section types by category:\n- Screening guides: process, checklist, verification steps, decision criteria\n- Risk prevention: bad tenant signs, missed rent, eviction cost, income protection\n- Legal/compliance: provincial landlord rules, fair screening, documentation\n- Cost comparison: screening cost vs eviction cost, platform pricing value\n- Platform feature topics: dashboard, AI scoring, application tracking, rent protection\n\n### Conclusion Section\n- Summarize key takeaways for THIS topic\n- Suggest actionable next steps for landlords\n- Mention Tenant Report only if topic relates to screening tools or platform use\n- End with empowerment, not pressure\n\n### Call-to-Action (CTA)\n- One clear CTA matching the topic (e.g., \"Start screening your next applicant with Tenant Report\", \"Get your first tenant report for C$39\", \"Explore Smart Tenant Subscription\")\n- 1-2 sentences maximum\n\n## OUTPUT RULES\n\n1. Respond with **JSON format only**\n2. Stay laser-focused on the landlord topic provided\n3. Provide **descriptions only** — never write actual article content\n4. Select and indicate 3-4 keywords from the provided list\n5. Keep structure streamlined for 1000-1200 word target (3-5 H2 sections maximum)\n\nUse the same JSON schema as specified in your output parser."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -5600,
        240
      ],
      "id": "ba91c2fe-c0d8-4f09-9175-a44bc5a25947",
      "name": "Title and Subheading Generator",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- Get the Inputs ---\n// This code assumes it receives the direct output from the LLM node.\n// We are now also adding the original outline from the very first node.\n// To do this, you might need to use a \"Merge\" node before this Code node to combine the two data sources.\nconst llmOutput = $input.first().json.output || {};\nconst originalInput = $input.all().slice(0, -1).pop()?.json || {}; // Gets data from the node before the LLM\nlet articleText = llmOutput.article || '';\nconst originalOutlineText = originalInput.body_sections_text;\n\n// --- 1. Create a List of \"True\" H2 Headings (Safely) ---\nconst trueH2Headings = [];\nif (originalOutlineText && typeof originalOutlineText === 'string') {\n  const outlineLines = originalOutlineText.split('\\n');\n  for (const line of outlineLines) {\n    if (line.startsWith('SECTION')) {\n      const heading = line.substring(line.indexOf(':') + 1).trim();\n      trueH2Headings.push(heading);\n    }\n  }\n} else {\n  console.log(\"Warning: 'body_sections_text' from original input not found. Skipping heading correction.\");\n}\n\n// --- 2. Perform Initial Fixes on the Raw Text ---\n// Using chained .replace() methods for efficiency.\n\n// Fix #1: Correct Year Typo\nlet correctedText = articleText.replace(/2024/g, '2025');\n\n// Fix #2: Correct Heading Levels (Smarter Logic)\nconst lines = correctedText.split('\\n');\nconst correctedLines = lines.map(line => {\n  if (trueH2Headings.length > 0 && line.startsWith('## ')) {\n    const currentHeading = line.substring(3).trim();\n    // Check if the current heading is a real H2 from our map\n    const isTrueH2 = trueH2Headings.some(h2 => h2.includes(currentHeading) || currentHeading.includes(h2));\n    if (!isTrueH2) {\n      // If it's not a true H2, demote it to an H3\n      return '### ' + currentHeading;\n    }\n  }\n  return line;\n});\ncorrectedText = correctedLines.join('\\n');\n\n\n// --- 3. Apply \"One Sentence Per Line\" Formatting (Refined Method) ---\n// This new method is more reliable.\n// It finds punctuation followed by a space and replaces it with the punctuation and a newline.\n// It handles multiple spaces and existing newlines gracefully.\n// The lookbehind `(?<=[.!?])` ensures we match the space *after* punctuation.\nconst formattedArticle = correctedText.replace(/(?<=[.!?])\\s+/g, '\\n');\n\n\n// --- 4. Finalize and Return ---\n// Rebuild the output object to ensure a clean final structure\nconst finalOutput = {\n  title: llmOutput.title || '',\n  meta_title: llmOutput.meta_title || '',\n  meta_description: llmOutput.meta_description || '',\n  url: llmOutput.url || '',\n  article: formattedArticle\n};\n\nreturn [{ json: { output: finalOutput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4448,
        208
      ],
      "id": "452aae24-f884-47c8-8e13-7f277e17e74b",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.article }}",
        "destinationKey": "article",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -4176,
        208
      ],
      "id": "44f841c3-7002-4666-91a5-caac2376a0e8",
      "name": "Markdown"
    },
    {
      "parameters": {
        "title": "={{ $('Edit Fields3').item.json.title }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $json.content }}",
          "slug": "={{ $('Edit Fields3').item.json.slug }}",
          "status": "publish",
          "commentStatus": "open",
          "categories": "={{ [$('AI Agent1').item.json.output.category_id] }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        -192,
        16
      ],
      "id": "79761c28-1661-432e-95f9-5faf3d98ae05",
      "name": "Create a post",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5616,
        448
      ],
      "id": "9e8e2247-b1bb-4638-b911-3e72ada6deac",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "33gAXbpsVVXn2OlM",
          "name": "tenant_report_openai_key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "243e37f8-68da-4ae7-b216-a06571382400",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "3d1bdf56-1499-49fb-8253-02bf98670385",
              "name": "title",
              "value": "={{ $('Markdown').item.json.output.title }}",
              "type": "string"
            },
            {
              "id": "bbea25b8-dd1c-45b2-a051-41aabb1fd3d7",
              "name": "slug",
              "value": "={{ $('Markdown').item.json.output.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3632,
        192
      ],
      "id": "b26e77bb-884b-4c0d-a956-d6ae5f743452",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4976,
        640
      ],
      "id": "30c16d72-b9cf-4c25-9208-7d52d78cbaff",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "33gAXbpsVVXn2OlM",
          "name": "tenant_report_openai_key"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oRsrcZuLVbrrNeKmU_DctBNXNHEnfcU8aXdPhKqXfEw",
          "mode": "list",
          "cachedResultName": "prashu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oRsrcZuLVbrrNeKmU_DctBNXNHEnfcU8aXdPhKqXfEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oRsrcZuLVbrrNeKmU_DctBNXNHEnfcU8aXdPhKqXfEw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "date": "={{ $json.date.toDateTime().format('yyyy-MM-dd') }}",
            "topic": "={{ $('Edit Fields3').item.json.title }}",
            "blog-link": "=https://blog.tenantreport.ai/{{ $('Edit Fields3').item.json.slug }}",
            "category": "={{ $('Code in JavaScript4').item.json.category }}",
            "keywords": "={{ $('Aggregate').item.json.data.map(item => item.keyword).join(', ') }}",
            "blog": "={{ $('Code in JavaScript3').item.json.content }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog-link",
              "displayName": "blog-link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog",
              "displayName": "blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        0
      ],
      "id": "3b1a37e9-e764-453a-9f58-b9e867acfcd9",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=You are an SEO expert. I have provided you with the entire contents of a blog post.\n\nMake output strictly should start directly at the <!DOCTYPE HTML> tag, nothing before that, and it should end at the closing </HTML> tag, nothing after that.\n\nOutput Format:\n\n<!DOCTYPE HTML>\n.\n.\n.\n</html>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3936,
        208
      ],
      "id": "d9883174-b3da-4f00-a865-bab3068b9922",
      "name": "structuring",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -8528,
        208
      ],
      "id": "8aab16c3-f174-49b9-8c12-4af7ebee727d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12teQJJPjeKqLezkZ6z1S1WZ7ZeFU3-WiyhvJnxQjC6s",
          "mode": "list",
          "cachedResultName": "prashu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12teQJJPjeKqLezkZ6z1S1WZ7ZeFU3-WiyhvJnxQjC6s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1206248416,
          "mode": "list",
          "cachedResultName": "Daily Published",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12teQJJPjeKqLezkZ6z1S1WZ7ZeFU3-WiyhvJnxQjC6s/edit#gid=1206248416"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -8160,
        256
      ],
      "id": "87fe4ba3-6599-4076-9630-44f26c1d12ea",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xJyKNfvx0RowDQ26",
          "name": "tenantreport_google_sheet_keys"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let day = $input.first().json.day;\n\n// ============================================================================\n// 20 OPTIMIZED TENANT REPORT CATEGORIES - DataForSEO-Compatible Seed Keywords\n// ============================================================================\n// Strategy: Use SHORT, HIGH-VOLUME landlord/screening seed keywords (1-3 words)\n// Target: Canadian landlords and property managers seeking tenant screening tools\n// ============================================================================\n\nconst categories = [\n  {\n    \"category\": \"Tenant Screening for Canadian Landlords\",\n    \"type\": \"Screening Guide\",\n    \"seed_keyword\": \"tenant screening\",\n    \"keywords\": [\n      \"tenant screening Canada\",\n      \"landlord tenant screening\",\n      \"tenant screening service\",\n      \"online tenant screening\",\n      \"tenant screening checklist\"\n    ]\n  },\n  {\n    \"category\": \"Background Check Requirements for Rental Applications\",\n    \"type\": \"Screening Guide\",\n    \"seed_keyword\": \"tenant background check\",\n    \"keywords\": [\n      \"tenant background check Canada\",\n      \"rental background check\",\n      \"tenant criminal background check\",\n      \"background check for tenants\",\n      \"landlord background check\"\n    ]\n  },\n  {\n    \"category\": \"Credit Check Guide for Landlords\",\n    \"type\": \"Screening Guide\",\n    \"seed_keyword\": \"tenant credit check\",\n    \"keywords\": [\n      \"tenant credit check Canada\",\n      \"landlord credit check tenant\",\n      \"rental credit check\",\n      \"tenant credit report\",\n      \"credit check rental application\"\n    ]\n  },\n  {\n    \"category\": \"How to Screen Tenant Applicants Step by Step\",\n    \"type\": \"Best Practice\",\n    \"seed_keyword\": \"screen tenant\",\n    \"keywords\": [\n      \"how to screen tenants\",\n      \"tenant applicant screening\",\n      \"screen rental applicants\",\n      \"tenant verification process\",\n      \"screening rental applicants\"\n    ]\n  },\n  {\n    \"category\": \"Bad Tenant Warning Signs Landlords Should Know\",\n    \"type\": \"Risk Prevention\",\n    \"seed_keyword\": \"bad tenant\",\n    \"keywords\": [\n      \"bad tenant signs\",\n      \"bad tenant warning signs\",\n      \"avoid bad tenants\",\n      \"red flags tenant application\",\n      \"problem tenant signs\"\n    ]\n  },\n  {\n    \"category\": \"Eviction Prevention and Rental Risk Management\",\n    \"type\": \"Risk Prevention\",\n    \"seed_keyword\": \"tenant eviction\",\n    \"keywords\": [\n      \"tenant eviction Canada\",\n      \"eviction prevention landlord\",\n      \"eviction cost landlord\",\n      \"avoid tenant eviction\",\n      \"landlord eviction process\"\n    ]\n  },\n  {\n    \"category\": \"Rental Application Verification Process\",\n    \"type\": \"Best Practice\",\n    \"seed_keyword\": \"rental application\",\n    \"keywords\": [\n      \"rental application verification\",\n      \"verify rental application\",\n      \"rental application screening\",\n      \"tenant application check\",\n      \"rental applicant verification\"\n    ]\n  },\n  {\n    \"category\": \"Tenant Reference Check Best Practices\",\n    \"type\": \"Best Practice\",\n    \"seed_keyword\": \"tenant reference check\",\n    \"keywords\": [\n      \"tenant reference check\",\n      \"landlord reference check\",\n      \"previous landlord reference\",\n      \"tenant reference verification\",\n      \"rental reference check\"\n    ]\n  },\n  {\n    \"category\": \"AI-Powered Tenant Screening and Reliability Scoring\",\n    \"type\": \"Platform Feature\",\n    \"seed_keyword\": \"AI tenant screening\",\n    \"keywords\": [\n      \"AI tenant screening\",\n      \"smart tenant screening\",\n      \"AI rental screening\",\n      \"tenant reliability score\",\n      \"automated tenant screening\"\n    ]\n  },\n  {\n    \"category\": \"Rent Promise and Rental Income Protection\",\n    \"type\": \"Platform Feature\",\n    \"seed_keyword\": \"rent guarantee\",\n    \"keywords\": [\n      \"rent guarantee landlord\",\n      \"rental income protection\",\n      \"rent protection landlord\",\n      \"guaranteed rent landlord\",\n      \"missed rent protection\"\n    ]\n  },\n  {\n    \"category\": \"Landlord Dashboard and Application Tracking\",\n    \"type\": \"Platform Feature\",\n    \"seed_keyword\": \"landlord dashboard\",\n    \"keywords\": [\n      \"landlord dashboard\",\n      \"rental application tracking\",\n      \"tenant application dashboard\",\n      \"landlord screening dashboard\",\n      \"property manager dashboard\"\n    ]\n  },\n  {\n    \"category\": \"Property Management for Small Landlords\",\n    \"type\": \"Property Management\",\n    \"seed_keyword\": \"property management\",\n    \"keywords\": [\n      \"small landlord property management\",\n      \"rental property management\",\n      \"landlord property management tools\",\n      \"manage rental units\",\n      \"landlord management software\"\n    ]\n  },\n  {\n    \"category\": \"Tenant Screening Cost vs Eviction Cost\",\n    \"type\": \"Cost Comparison\",\n    \"seed_keyword\": \"tenant screening cost\",\n    \"keywords\": [\n      \"tenant screening cost\",\n      \"cost of tenant screening\",\n      \"eviction cost vs screening\",\n      \"affordable tenant screening\",\n      \"tenant screening price Canada\"\n    ]\n  },\n  {\n    \"category\": \"Ontario Landlord Tenant Screening Laws\",\n    \"type\": \"Legal & Compliance\",\n    \"seed_keyword\": \"Ontario landlord\",\n    \"keywords\": [\n      \"Ontario landlord tenant law\",\n      \"Ontario rental screening\",\n      \"Ontario landlord rights\",\n      \"RTA Ontario screening\",\n      \"Ontario tenant application\"\n    ]\n  },\n  {\n    \"category\": \"BC Landlord Rental Screening Guide\",\n    \"type\": \"Legal & Compliance\",\n    \"seed_keyword\": \"BC landlord\",\n    \"keywords\": [\n      \"BC landlord tenant screening\",\n      \"British Columbia rental laws\",\n      \"BC landlord rights\",\n      \"BC tenant application\",\n      \"BC rental screening\"\n    ]\n  },\n  {\n    \"category\": \"Alberta Landlord Tenant Verification Guide\",\n    \"type\": \"Legal & Compliance\",\n    \"seed_keyword\": \"Alberta landlord\",\n    \"keywords\": [\n      \"Alberta landlord screening\",\n      \"Alberta rental laws\",\n      \"Alberta tenant verification\",\n      \"Alberta landlord rights\",\n      \"Alberta rental application\"\n    ]\n  },\n  {\n    \"category\": \"Choosing the Right Tenant Checklist\",\n    \"type\": \"Best Practice\",\n    \"seed_keyword\": \"choose tenant\",\n    \"keywords\": [\n      \"how to choose a tenant\",\n      \"choosing the right tenant\",\n      \"tenant selection checklist\",\n      \"pick the best tenant\",\n      \"tenant selection guide\"\n    ]\n  },\n  {\n    \"category\": \"Rental Income Protection Strategies for Landlords\",\n    \"type\": \"Risk Prevention\",\n    \"seed_keyword\": \"rental income\",\n    \"keywords\": [\n      \"protect rental income\",\n      \"reliable rental income\",\n      \"rental income risk\",\n      \"secure rental income\",\n      \"landlord income protection\"\n    ]\n  },\n  {\n    \"category\": \"Online Tenant Screening Platform Comparison\",\n    \"type\": \"Cost Comparison\",\n    \"seed_keyword\": \"tenant screening software\",\n    \"keywords\": [\n      \"tenant screening software\",\n      \"best tenant screening Canada\",\n      \"tenant screening platform\",\n      \"landlord screening tools\",\n      \"tenant screening app\"\n    ]\n  },\n  {\n    \"category\": \"First-Time Landlord Tenant Screening Guide\",\n    \"type\": \"Screening Guide\",\n    \"seed_keyword\": \"first time landlord\",\n    \"keywords\": [\n      \"first time landlord guide\",\n      \"new landlord screening\",\n      \"first rental property landlord\",\n      \"beginner landlord tips\",\n      \"first time landlord tenant check\"\n    ]\n  }\n];\n\nlet categoryIndex = (day - 1) % categories.length;\nlet currentCategory = categories[categoryIndex];\n\nlet nextCategoryIndex = (categoryIndex + 1) % categories.length;\nlet prevCategoryIndex = (categoryIndex - 1 + categories.length) % categories.length;\n\nreturn {\n  json: {\n    day: day,\n    category: currentCategory.category,\n    categoryType: currentCategory.type,\n    seed_keyword: currentCategory.seed_keyword,\n    keywords: currentCategory.keywords,\n    categoryIndex: categoryIndex + 1,\n    totalCategories: categories.length,\n    nextCategory: categories[nextCategoryIndex].category,\n    nextSeedKeyword: categories[nextCategoryIndex].seed_keyword,\n    nextCategoryType: categories[nextCategoryIndex].type,\n    previousCategory: categories[prevCategoryIndex].category,\n    categoryDistribution: {\n      \"Screening Guide\": 4,\n      \"Best Practice\": 4,\n      \"Risk Prevention\": 3,\n      \"Platform Feature\": 3,\n      \"Property Management\": 1,\n      \"Cost Comparison\": 2,\n      \"Legal & Compliance\": 3\n    },\n    dataforseo_instructions: {\n      endpoint: \"https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live\",\n      method: \"POST\",\n      body_template: {\n        keyword: \"{{ seed_keyword }}\",\n        location_code: 2124,\n        language_code: \"en\",\n        include_serp_info: true,\n        include_seed_keyword: true,\n        include_clickstream_data: true,\n        limit: 100\n      },\n      note: \"Use the 'seed_keyword' field in the API request, NOT the full keywords array\",\n      why_short_keywords: \"DataForSEO keyword suggestions require SHORT seed keywords (1-3 words) to generate results.\"\n    },\n    metadata: {\n      lastUpdated: \"2026-06-27\",\n      marketFocus: \"Canadian landlords and property managers seeking reliable tenant screening\",\n      primaryTargetProvinces: [\"Ontario\", \"British Columbia\", \"Alberta\", \"Quebec\"],\n      keywordStrategy: \"Short landlord/screening seed keywords for DataForSEO API + long-tail targets for blog content\",\n      contentRotation: \"20-day cycle with balanced landlord topic mix\",\n      seedKeywordRules: [\n        \"Keep seed keywords 1-3 words maximum\",\n        \"Use high-volume landlord and screening terms\",\n        \"Use full keyword list for blog content, not for API calls\"\n      ],\n      tenantReportValueProposition: [\n        \"Affordable tenant screening starting at C$19/month\",\n        \"Full tenant reports with background and credit checks for C$39\",\n        \"Rent Promise & Protection Package for income security\",\n        \"AI-powered reliability scoring and landlord dashboard\",\n        \"Real-time application tracking and verified reports\"\n      ],\n      topContentCategories: [\n        \"Tenant Screening & Background Checks\",\n        \"Credit Reports & Applicant Verification\",\n        \"AI Tenant Scoring & Smart Screening\",\n        \"Rent Protection & Income Security\",\n        \"Landlord Dashboard & Property Management\"\n      ],\n      targetLandlordSegments: [\n        \"First-time landlords renting their first unit\",\n        \"Small portfolio owners with 1-10 units\",\n        \"Property managers handling multiple applications\",\n        \"Cost-conscious landlords comparing screening services\",\n        \"Landlords recovering from a bad tenant experience\"\n      ],\n      canadianLandlordChallenges: [\n        \"Fear of renting to unreliable tenants\",\n        \"Missed rent and costly eviction processes\",\n        \"Time-consuming manual application review\",\n        \"Difficulty verifying applicant history quickly\",\n        \"Vacancy costs while screening takes too long\"\n      ]\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8000,
        528
      ],
      "id": "9d581e1c-bb42-4ebf-810c-8e979b7e387d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oRsrcZuLVbrrNeKmU_DctBNXNHEnfcU8aXdPhKqXfEw",
          "mode": "list",
          "cachedResultName": "prashu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oRsrcZuLVbrrNeKmU_DctBNXNHEnfcU8aXdPhKqXfEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1335001975,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oRsrcZuLVbrrNeKmU_DctBNXNHEnfcU8aXdPhKqXfEw/edit#gid=1335001975"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "day": "={{ ($('Code in JavaScript4').item.json.day)%9 + 1 }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        0
      ],
      "id": "fc93c117-86e5-4fca-a367-5259a323ca05",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blog.tenantreport.ai/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachment; filename={{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "Content-Type",
              "value": "=image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "c8d05280-0f2a-4008-bd95-cd9f419803ac",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1840,
        32
      ],
      "id": "a0cf9c3e-7782-4107-9f6e-d6d4b13b8d8f",
      "name": "Wait1",
      "webhookId": "ff263660-c8ac-46fb-9465-e0567224492b"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key fbba4bfe-d904-4d16-a993-83095d771b3d:ca7abd8351d07ad4f6e6a7f05fabf910"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1664,
        32
      ],
      "id": "7e52cde5-f1df-492f-ab42-10ae4f2f1fb0",
      "name": "Retrieve Image Url"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields2').item.json.images[1].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "adea821f-66a5-48f1-bbcc-8cfda2aede69",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://blog.tenantreport.ai/wp-json/wp/v2/posts/{{ $('Create a post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ],
      "id": "419dd0dc-77d6-407f-8b2d-7ff590f4ccf2",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://blog.tenantreport.ai/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alt_text",
              "value": "={{ $('AI Agent').item.json.output['alt_text for image'] }}"
            },
            {
              "name": "caption",
              "value": "={{ $('AI Agent').item.json.output.caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('AI Agent').item.json.output.description }}"
            },
            {
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "613e798c-97da-4e21-834b-3dd614df8bd4",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Blog :\n{{ $('Markdown').item.json.output.article }}\n\nAnalyze this whole blog and generate an image prompt that matches as a featured image for this Tenant Report landlord/tenant screening article.\n\nThe image should feel relevant to Canadian landlords, rental properties, tenant screening, applications, dashboards, or property management — depending on the blog topic.\n\nRequirements:\n- 4K highly realistic photo style\n- No digital artwork or painting\n- Do not mention thumbnail\n- Keep the image prompt under 100 words\n- The image must relate to the blog content\n- No text, logos, UI overlays, or captions in the image\n- Prefer scenes like: landlord reviewing applications at a desk, rental property interior, home office with laptop, keys and lease documents, calm professional landlord setting\n- Avoid medical settings, clinics, surgery, or unrelated industries",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a visual prompt specialist for Tenant Report, a Canadian tenant screening platform for landlords.\n\nGenerate structured image metadata for a blog featured image based on the article content.\n\nRules:\n- Image prompt must be photorealistic and under 100 words\n- Scene must match landlord, rental property, screening, or property management themes\n- Never include text, logos, headlines, or UI in the image description\n- alt_text, description, and caption should be SEO-friendly and landlord-focused\n- title should describe the image concept briefly\n\nReturn ONLY the structured JSON fields requested by the output parser."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3360,
        192
      ],
      "id": "dc405149-a7c3-4aee-903a-067eb4e1201c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3392,
        496
      ],
      "id": "cf572664-df66-48f1-8ec9-e0b9fa944d45",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "33gAXbpsVVXn2OlM",
          "name": "tenant_report_openai_key"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"image prompt\":\"\",\n    \"title\":\"\",\n    \"alt_text for image\":\"\",\n  \"description\" : \"\",\n  \"caption\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3120,
        480
      ],
      "id": "a1897148-f284-420c-8c94-a36a5f96382f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key fbba4bfe-d904-4d16-a993-83095d771b3d:ca7abd8351d07ad4f6e6a7f05fabf910"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output['image prompt'] }}"
            },
            {
              "name": "aspect_ratio",
              "value": "16:9"
            },
            {
              "name": "num_images",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2000,
        32
      ],
      "id": "ea18b3de-de8e-443d-9c58-812e5dd0974f",
      "name": "image generation"
    },
    {
      "parameters": {
        "jsCode": "function insertImageAfterBody(cont, imgUrl) {\n  // Check if content and image URL are provided\n  \n  // Find the position of the <body> tag (case-insensitive)\n  const bodyTagRegex = /<\\/h1>/i;\n  const match = cont.match(bodyTagRegex);\n  \n  \n  // Get the position right after the <body> tag\n  const bodyTagEnd = match.index + match[0].length;\n  \n  // Create the img tag\n  const imgTag = `\\n <img src=\"${imgUrl}\" alt=\"Featured Image\" style=\"max-width: 100%; height: auto;\">\\n`;\n  \n  // Insert the image tag after the body tag\n  const updatedContent = \n    cont.slice(0, bodyTagEnd) + \n    imgTag + \n    cont.slice(bodyTagEnd);\n  \n  return updatedContent;\n}\n\n// Usage example:\nconst cont =$('structuring').first().json.output;\n\nconst imgUrl =$input.first().json.images[0].url;\n\nconst result = insertImageAfterBody(cont, imgUrl);\nreturn {result};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        640
      ],
      "id": "cba8f216-ccb1-4e87-97f8-364d4686d82f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "let content = $('Code in JavaScript2').first().json.result;\n\n// STEP 1: Remove HTML wrapper (DOCTYPE, html, head, body tags)\nif (content.includes('<!DOCTYPE')) {\n  // Extract only content between <article> and </article>\n  const articleMatch = content.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n  if (articleMatch) {\n    content = articleMatch[1]; // Get content inside <article> tags\n  }\n}\n\n// STEP 2: Remove the FIRST <h1> tag AND its content completely\ncontent = content.replace(/<div[^>]*>\\s*<h1[^>]*>.*?<\\/h1>\\s*<\\/div>/is, ''); // If h1 is wrapped in div\ncontent = content.replace(/<h1[^>]*>.*?<\\/h1>/is, ''); // Remove bare h1 with content\n\n// STEP 3: Optional - remove stray <br> around headings and images\ncontent = content.replace(/<br\\s*\\/?>\\s*(?=<h[1-6]\\b)/gi, '');\ncontent = content.replace(/(?<=<\\/h[1-6]>)\\s*<br\\s*\\/?>/gi, '');\ncontent = content.replace(/<br\\s*\\/?>\\s*(?=<img\\b)/gi, '');\ncontent = content.replace(/(?<=<img\\b[^>]*>)\\s*<br\\s*\\/?>/gi, '');\n\n// STEP 4: Add spacing around ALL headings (h2–h6, NOT h1 since we removed it)\ncontent = content.replace(\n  /(<h[2-6]\\b[^>]*>[\\s\\S]*?<\\/h[2-6]>)/gi,\n  '<div style=\"margin-top:24px; margin-bottom:16px;\">$1</div>'\n);\n\n// STEP 5: Add spacing around ALL images\ncontent = content.replace(\n  /(<img\\b[^>]*>)/gi,\n  '<div style=\"margin-top:16px; margin-bottom:16px;\">$1</div>'\n);\n\n// STEP 6: Clean up any leading/trailing whitespace\ncontent = content.trim();\n\nreturn [\n  {\n    json: {\n      content,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        16
      ],
      "id": "17b00f3d-c69a-4d70-9900-bfcce7970fb2",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic aW5mb0B0b2dhaGguY29tOjZmNzc0MTBjMzhmYjk1OGY="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"keyword\":\"{{ $json.keywords }}\",\"location_code\":2124,\"language_code\":\"en\",\"include_serp_info\":true,\"include_seed_keyword\":true,\"include_clickstream_data\":true,\"limit\":100}\n]",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7056,
        272
      ],
      "id": "19e1a087-c13e-4f0d-bb5f-e1284cde1f10",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Merge + Dedupe + Rank keywords from multi-task DataForSEO response\n// Input: DataForSEO response with tasks[] (10 seeds)\n// Output: top keywords overall + top keywords per seed\n\ntry {\n  // -----------------------------\n  // CONFIG (tune these)\n  // -----------------------------\n  const CONFIG = {\n    totalOverall: 100,         // final top keywords overall\n    perSeedTop: 25,            // top keywords per seed keyword\n    minEffectiveSV: 10,        // lower = more output\n    minAdsSV: 20,              // lower = more output\n    minScore: 15,              // lower = more output\n    mix: { short: 10, medium: 30, long: 60 }, // split for overall selection\n    preferClickstream: true,   // use clickstream volume if present\n  };\n\n  // -----------------------------\n  // READ INPUT (supports 1+ items)\n  // -----------------------------\n  const inputs = $input.all().map(i => i.json);\n  if (!inputs.length) throw new Error(\"No input data received\");\n\n  // If your HTTP node returns only one item, it's usually here:\n  // inputs[0].tasks\n  // But we support multiple incoming items too.\n  const allTasks = [];\n  for (const j of inputs) {\n    if (Array.isArray(j?.tasks)) allTasks.push(...j.tasks);\n    else if (Array.isArray(j?.data?.tasks)) allTasks.push(...j.data.tasks); // fallback (rare)\n  }\n\n  if (!allTasks.length) {\n    // Sometimes user passes already-at-result-level objects (less common)\n    // Try to treat each input as a \"task-like\" object:\n    for (const j of inputs) {\n      if (j?.result?.[0]?.items) allTasks.push({ result: j.result, data: { keyword: j.seed_keyword || j.keyword } });\n    }\n  }\n\n  if (!allTasks.length) throw new Error(\"Could not find tasks[] in the input. Make sure the HTTP node returns the full DataForSEO response.\");\n\n  // -----------------------------\n  // HELPERS\n  // -----------------------------\n  const norm = (s) => String(s || \"\").trim().toLowerCase().replace(/\\s+/g, \" \");\n\n  function getKeywordType(wordsCount) {\n    if (wordsCount <= 2) return \"short-tail\";\n    if (wordsCount <= 4) return \"medium-tail\";\n    return \"long-tail\";\n  }\n\n  function safeNum(v, fallback = 0) {\n    const n = Number(v);\n    return Number.isFinite(n) ? n : fallback;\n  }\n\n  function scoreKeyword({ effectiveSV, adsSV, cpc, competition, competitionLevel, kd, intent }) {\n    // More permissive scoring so you get more outputs.\n    // 1) Volume (max 40)\n    const volBase = CONFIG.preferClickstream ? effectiveSV : adsSV;\n    const volumeScore = Math.min(40, (Math.log10(volBase + 1) / Math.log10(8000)) * 40);\n\n    // 2) Competition (max 20) - lower better\n    let compScore = 12;\n    if (competitionLevel === \"LOW\") compScore = 20;\n    else if (competitionLevel === \"MEDIUM\") compScore = 14;\n    else if (competitionLevel === \"HIGH\") compScore = 7;\n    else compScore = Math.max(0, 20 - safeNum(competition) * 20);\n\n    // 3) Difficulty (max 20) - lower better (assume moderate if missing)\n    const kdSafe = kd > 0 ? kd : 35;\n    const diffScore = Math.max(0, 20 - (kdSafe / 7));\n\n    // 4) Intent (max 15) - blogs prefer informational/commercial\n    let intentScore = 8;\n    if (intent === \"informational\") intentScore = 15;\n    else if (intent === \"commercial\") intentScore = 12;\n    else if (intent === \"transactional\") intentScore = 10;\n    else if (intent === \"navigational\") intentScore = 6;\n\n    // 5) CPC (max 5) - commercial value signal\n    const cpcScore = Math.min(5, (safeNum(cpc) / 2) * 5);\n\n    return Math.round(volumeScore + compScore + diffScore + intentScore + cpcScore);\n  }\n\n  // -----------------------------\n  // EXTRACT + MERGE + DEDUPE\n  // -----------------------------\n  const dedupeMap = new Map(); // keywordLower -> best object\n  const keywordsBySeed = {};   // seed -> array\n\n  let totalAnalyzed = 0;\n  const seeds = [];\n\n  for (const task of allTasks) {\n    const seed = task?.data?.keyword || task?.result?.[0]?.seed_keyword || \"unknown\";\n    seeds.push(seed);\n\n    const items = task?.result?.[0]?.items || [];\n    if (!keywordsBySeed[seed]) keywordsBySeed[seed] = [];\n\n    for (const it of items) {\n      totalAnalyzed++;\n\n      const keyword = it?.keyword;\n      if (!keyword) continue;\n\n      const keywordLower = norm(keyword);\n      if (!keywordLower) continue;\n\n      const clickstreamSV = safeNum(it?.clickstream_keyword_info?.search_volume, 0);\n      const adsSV = safeNum(it?.keyword_info?.search_volume, 0);\n      const effectiveSV = (CONFIG.preferClickstream && clickstreamSV > 0) ? clickstreamSV : adsSV;\n\n      const wordsCount = safeNum(it?.keyword_properties?.words_count, keyword.split(/\\s+/).length);\n      const keywordType = getKeywordType(wordsCount);\n\n      // Light filter (so you still get plenty)\n      if (effectiveSV < CONFIG.minEffectiveSV && adsSV < CONFIG.minAdsSV) continue;\n\n      const cpc = safeNum(it?.keyword_info?.cpc, 0);\n      const competition = safeNum(it?.keyword_info?.competition, 0);\n      const competitionLevel = it?.keyword_info?.competition_level || \"UNKNOWN\";\n      const kd = safeNum(it?.keyword_properties?.keyword_difficulty, 0);\n      const intent = it?.search_intent_info?.main_intent || \"unknown\";\n\n      const serpTypes = it?.serp_info?.serp_item_types || [];\n      const checkUrl = it?.serp_info?.check_url || null;\n\n      const s = scoreKeyword({ effectiveSV, adsSV, cpc, competition, competitionLevel, kd, intent });\n      if (s < CONFIG.minScore) continue;\n\n      const obj = {\n        keyword,\n        keywordLower,\n        seed_sources: [seed],\n        keywordType,\n        score: s,\n        metrics: {\n          effectiveSV,\n          clickstreamSV,\n          adsSV,\n          cpc: Math.round(cpc * 100) / 100,\n          competition: Math.round(competition * 100) / 100,\n          competitionLevel,\n          keywordDifficulty: kd || null,\n          wordsCount,\n          intent,\n        },\n        serp: {\n          serp_item_types: serpTypes,\n          check_url: checkUrl,\n        },\n      };\n\n      // Store per-seed (we'll trim later)\n      keywordsBySeed[seed].push(obj);\n\n      // Dedupe across all seeds: keep the best-scoring version, merge seed_sources\n      const existing = dedupeMap.get(keywordLower);\n      if (!existing) {\n        dedupeMap.set(keywordLower, obj);\n      } else {\n        // merge sources\n        const mergedSources = new Set([...(existing.seed_sources || []), seed]);\n        const best = (obj.score > existing.score) ? obj : existing;\n        best.seed_sources = Array.from(mergedSources);\n        dedupeMap.set(keywordLower, best);\n      }\n    }\n  }\n\n  // Unique merged list\n  const merged = Array.from(dedupeMap.values());\n  merged.sort((a, b) => b.score - a.score);\n\n  // -----------------------------\n  // BALANCED MIX (overall)\n  // -----------------------------\n  const short = merged.filter(k => k.keywordType === \"short-tail\");\n  const medium = merged.filter(k => k.keywordType === \"medium-tail\");\n  const long = merged.filter(k => k.keywordType === \"long-tail\");\n\n  const overallSelected = [\n    ...short.slice(0, CONFIG.mix.short),\n    ...medium.slice(0, CONFIG.mix.medium),\n    ...long.slice(0, CONFIG.mix.long),\n  ];\n\n  // Fill if not enough\n  if (overallSelected.length < CONFIG.totalOverall) {\n    const selectedSet = new Set(overallSelected.map(k => k.keywordLower));\n    const remaining = merged.filter(k => !selectedSet.has(k.keywordLower));\n    overallSelected.push(...remaining.slice(0, CONFIG.totalOverall - overallSelected.length));\n  }\n\n  const keywords_overall = overallSelected\n    .slice(0, CONFIG.totalOverall)\n    .sort((a, b) => b.score - a.score);\n\n  // -----------------------------\n  // TOP PER SEED\n  // -----------------------------\n  const keywords_by_seed = {};\n  for (const seed of Object.keys(keywordsBySeed)) {\n    keywords_by_seed[seed] = keywordsBySeed[seed]\n      .sort((a, b) => b.score - a.score)\n      .slice(0, CONFIG.perSeedTop);\n  }\n\n  // -----------------------------\n  // OUTPUT\n  // -----------------------------\n  const output = {\n    success: true,\n    category:$('Code in JavaScript1').first().json.category,\n    day:$('Get row(s) in sheet').first().json.day,\n    seeds: Array.from(new Set(seeds)),\n    totalTasks: Array.from(new Set(seeds)).length,\n    totalAnalyzed,\n    totalMergedUnique: merged.length,\n    totalSelectedOverall: keywords_overall.length,\n    configUsed: CONFIG,\n    keywords_overall,\n    keywords_by_seed,\n    summary: {\n      overall_short: keywords_overall.filter(k => k.keywordType === \"short-tail\").length,\n      overall_medium: keywords_overall.filter(k => k.keywordType === \"medium-tail\").length,\n      overall_long: keywords_overall.filter(k => k.keywordType === \"long-tail\").length,\n      topKeyword: keywords_overall[0]?.keyword || null,\n      topScore: keywords_overall[0]?.score || null,\n    },\n  };\n\n  return [{ json: output }];\n\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      stack: error.stack,\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6832,
        240
      ],
      "id": "13373cda-2be4-4ebd-ac61-17ac7a8aea02",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "keywords_overall",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -6560,
        240
      ],
      "id": "414fc886-8473-4b4d-b3ee-bfe1fc7d9f79",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e016fdea-4df4-4df8-a9a5-5983cfa4c11e",
              "name": "keyword",
              "value": "={{ $json.keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6336,
        240
      ],
      "id": "15b795d7-0ad2-4210-b92a-72f8fc51e5f1",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -6096,
        240
      ],
      "id": "8c20b50d-7f3c-4779-9c4e-2ab9023aedc4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01c6e022-0301-42c1-bee5-7ccdf9799f6e",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5920,
        240
      ],
      "id": "b2edc122-cc63-46df-b209-a7a838bcd066",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -7808,
        256
      ],
      "id": "72f5c775-a944-4f08-bab5-35858743b841",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -7264,
        256
      ],
      "id": "1379a7be-1840-40f2-b75d-5c432c878991",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -7584,
        256
      ],
      "id": "ffd6e249-a537-4729-a813-7a7840798fd3",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article:\n\n{{ $('Article Writing Chain').item.json.output.article }}\n\n--------------------------------------------------------------\n\nFind the article category it belongs to. We have:\n\n1. General - 1\n2. Tenant Screening - 91\n3. Background Checks - 92\n4. Property Management - 93\n5. Rent Protection - 94\n6. Landlord Tools - 95\n7. Rental Applications - 96\n8. AI Tenant Scoring - 97\n\nAnalyze the article and return only the category_id number that best matches.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a blog categorization assistant for Tenant Report, a Canadian tenant screening platform for landlords.\n\nClassify the article into exactly one WordPress category based on its primary topic.\n\nCategory guide:\n- General: broad landlord advice not tied to one service area\n- Tenant Screening: overall screening process, choosing tenants, screening checklists\n- Background Checks: criminal checks, reference checks, applicant history\n- Property Management: managing units, landlord workflow, portfolio operations\n- Rent Protection: missed rent, income protection, rent guarantee topics\n- Landlord Tools: dashboards, application tracking, platform features\n- Rental Applications: application forms, verification, applicant review\n- AI Tenant Scoring: AI insights, smart screening, reliability scoring\n\nReturn ONLY valid JSON with category_id as a number. No markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -880,
        32
      ],
      "id": "23ce6c85-177f-40d5-b7fd-904cc76327cd",
      "name": "AI Agent1",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "builtInTools": {},
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -944,
        240
      ],
      "id": "c895fd91-b547-4baa-a51b-d19a4d1a4812",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "33gAXbpsVVXn2OlM",
          "name": "tenant_report_openai_key"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"category_id\": 100\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -704,
        240
      ],
      "id": "68407a94-4c8a-4919-a98f-a5145d6dc92e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9ebcfc911ce1f149e76c99a2eb7c1ca8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output['image prompt'] }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"16:9\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2496,
        944
      ],
      "id": "9ffc9f54-02ff-4ff3-ab21-13216aff4a40",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9ebcfc911ce1f149e76c99a2eb7c1ca8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        944
      ],
      "id": "ac24927c-6dcf-458f-b0f8-bf554dbef5c7",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58583680-f559-4403-9504-9df55c9d8c30",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1968,
        944
      ],
      "id": "95d414bb-ee9f-48df-8d72-0fe8695b9f08",
      "name": "If9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ce5e3b6-8969-47ea-ae2e-e972a87a6992",
              "name": "data.resultJson",
              "value": "={{ $json.data.resultJson }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        928
      ],
      "id": "efcf3b17-65dc-4559-9a51-8181be8f10c2",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1472,
        1184
      ],
      "id": "4c693428-fe2e-47aa-8e1d-366ed69bc17f",
      "name": "Wait7",
      "webhookId": "ecf23b36-24ac-4da4-8388-043a2981d97e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38f724a5-a3a8-4beb-af26-7f44b760f274",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1760,
        1040
      ],
      "id": "3c5615fe-df7c-4bf6-8f05-4b8d4d835efc",
      "name": "If15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9ebcfc911ce1f149e76c99a2eb7c1ca8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output['image prompt'] }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"16:9\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2512,
        1472
      ],
      "id": "b50b3500-995b-4e9b-a976-04d32ab9f428",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9ebcfc911ce1f149e76c99a2eb7c1ca8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2192,
        1472
      ],
      "id": "27b23828-a186-4b91-a57a-ab95ce4aa74d",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58583680-f559-4403-9504-9df55c9d8c30",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1984,
        1472
      ],
      "id": "11419f52-3834-4624-a4d1-043011fbac8b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ce5e3b6-8969-47ea-ae2e-e972a87a6992",
              "name": "data.resultJson",
              "value": "={{ $json.data.resultJson }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        1456
      ],
      "id": "b4d2139c-824e-446a-a4f7-95581d724c3b",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1536,
        1712
      ],
      "id": "80150151-5cdc-40b6-9006-cdb1629ff5f0",
      "name": "Wait",
      "webhookId": "ecf23b36-24ac-4da4-8388-043a2981d97e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38f724a5-a3a8-4beb-af26-7f44b760f274",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1776,
        1568
      ],
      "id": "6b2ee3c2-25b5-41ac-8b37-98f0e1d7d6be",
      "name": "If16"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1056,
        1328
      ],
      "id": "5e195ba6-5848-4a2a-bd3e-796790d9389e",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b859752-062e-4113-9f65-ca03c9c900f4",
              "name": "images",
              "value": "=[{\"url\":\"{{ $json.resultUrls[0][0] }}\"},{\"url\":\"{{ $json.resultUrls[0][1] }}\"}]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        640
      ],
      "id": "3fddd897-f957-4145-9e73-ddeaea312a84",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.resultJson.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -848,
        1328
      ],
      "id": "fcd816ef-1b69-4a3d-a6ee-5c943c1b7a6b",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a8707e5-794e-47e5-bd49-f22a2557c60c",
              "leftValue": "={{ ($now.format('dd').toNumber())%3 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -8384,
        512
      ],
      "id": "c440839b-ec62-4f2e-8364-723f1dcbc2c2",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Title and Subheading Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Article Writing Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Article Writing Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Article Writing Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Article Writing Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title and Subheading Generator": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Title and Subheading Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "structuring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Title and Subheading Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Article Writing Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "structuring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "structuring": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "structuring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Retrieve Image Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "image generation": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Title and Subheading Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [],
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "086ecb16-ef4c-4fa5-b2c8-c3f2832008c2",
  "meta": {
    "instanceId": "18a4e27cdf3d2dcccc29890b2933cb3b8dd89aa16747679dc7f48af653933dee"
  },
  "id": "vnC3sN5J471yEGFJ",
  "tags": []
}